node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo
